BOT_TOKEN=123456:ABCDEF
ADMIN_IDS=123456789,987654321
REPORT_GROUP_ID=-5159311101
DATABASE_URL=postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require
DEFAULT_PAIR_LIMIT=10
DEFAULT_CHANNEL_PER_PAIR_LIMIT=6
DEFAULT_LANGUAGE=en
USER_LIMIT=0
LOG_LEVEL=INFO
HEALTH_HOST=0.0.0.0
PORT=10000
HEALTH_PATH=/healthz
POST_CACHE_LIMIT_PER_CHANNEL=50
ALBUM_COLLECT_DELAY_SECONDS=2
BANNED_SILENT=true
ADMIN_CONTACT=@mnsm6003
